$font-family: 'TT Firs Neue', sans-serif;
$color-main: rgba(255, 255, 255);
$color-second: rgba(255, 255, 255, 0.7);
$color-copyrigth: rgba(255, 255, 255, 0.4);
$color-bg: #0b1226;
$color-border: #282e40;
$color-hline: rgba(255, 255, 255, 0.1);


.footer {
  max-width: 100vw;
  max-height: rem(566px);
  padding: rem(60px);
  color: $color-main;
  font-family: $font-family;
  font-weight: 600;
  background-color: $color-bg;

  a {
    color: inherit;
  }

  &__upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid $color-border;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(20px);
    margin-bottom: rem(60px);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: rem(65px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    min-width: rem(283px);

    &_question {
      font-size: rem(20px);
      line-height: rem(24px);
    }

    &_phones {
      gap: rem(4px);
      font: 600 rem(32px) $font-family;
      line-height: rem(38.4px);
      letter-spacing: calc(-1em / 50);
    }

    &_emails {
      font-size: rem(20px);
      line-height: rem(24px);
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: rem(10px);
    margin-top: auto;
    padding: rem(5px);
    a {
      width: rem(60px);
      height: rem(60px);
      border: 1px solid $color-border;
      border-radius: rem(12px);
      padding: rem(18px);
    }
  }

  &__list-head {
    padding-bottom: rem(16px);
    a {
      font-size: rem(20px);
      color: $color-main;
    }
  }

  &__list-item a {
    font: 400 rem(16px) $font-family;
    color: $color-second;
    line-height: rem(22.4px);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: rem(20px);
    margin-bottom: rem(60px);
    padding-left: rem(150px);
  }

  &__other {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 86%;
    padding-top: rem(45px);
    color: $color-second;
    font-size: rem(16px);
    gap: rem(300px);
    color: $color-second;
    p:first-of-type {
      color: $color-copyrigth;
    }
  }

  &__logo {
    justify-self: end;
  }
}
